<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Connection" 
         value="data source=(LocalDb)\LocalDB;initial catalog=DatabasePersistence.DbModelAccesContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
  </appSettings>
</configuration>