<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DatabasePersistenceTests.Properties.Settings.LocalDBConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\Studia\5SEM\TPA\Project\TPA\DatabasePersistenceTests\LocalDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Connection"
         value="data source=(LocalDb)\LocalDB;initial catalog=DatabasePersistence.DbModelAccesContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
  </appSettings>
</configuration>