<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ConnectionString" value="              Data Source=SCRIPT-PC\SQLEXPRESS;              Initial Catalog=AppTracing;User ID=SCRIPT-PC\Script;              Integrated Security=True         " />
    <add key="FileName" value=".\file.txt" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>